/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem

# rspec failure tracking
.rspec_status
/ext/target

# Ignore bundler config.
/rails_example/.bundle

# Ignore the default SQLite database.
/rails_example/db/*.sqlite3
/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/rails_example/log/*
/rails_example/tmp/*
!/rails_example/log/.keep
!/rails_example/tmp/.keep

# Ignore pidfiles, but keep the directory.
/rails_example/tmp/pids/*
!/rails_example/tmp/pids/
!/rails_example/tmp/pids/.keep

# Ignore uploaded files in development.
/rails_example/storage/*
!/rails_example/storage/.keep
/rails_example/.byebug_history

# Ignore master key for decrypting credentials and more.
/rails_example/config/master.key
